@charset "utf-8";

.h_ga{
	color: #666;
	font-family: "Impact";
	font-size: 32px;
	text-align: center;
	margin: 20px 0;
}
.h_ga a:link {color: #666;text-decoration: none;}
.h_ga a:visited {color: #666;text-decoration: none;}
.h_ga a:hover {color: #999;text-decoration: none;}
.h_ga a:visited:hover {color: #999;text-decoration: none;}
.h_ga a:active {color: #999;text-decoration: none;}

.globalNav{
	background-color: #ccc;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(4, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(4, 0, 0, 0.2);
	box-shadow: 0px 0px 4px 0px rgba(4, 0, 0, 0.2);
	z-index: 100;
	text-align: center;
	margin-bottom: 2px;
}
.globalNav ul{
	width: 940px;
	margin: 0 auto;
}
.globalNav li{
	width: 24%;
	display: inline-block;
}
.globalNav li a{
	display: inline-block;
	width: 100%;
	font-family: "Alial Black";
	font-size: 16px;
	color: #666;
	text-align: center;
	text-decoration: none;
	padding: 15px 0;
	border-right: 1px #999 solid;
	border-left: 1px #eee solid;
}
.globalNav a:link {color: #666;text-decoration: none;background-color: #ccc;}
.globalNav a:visited {color: #666;text-decoration: none;background-color: #ccc;}
.globalNav a:hover {color: #333;text-decoration: none;background-color: #999;}
.globalNav a:visited:hover {color: #333;text-decoration: none;background-color: #999;}
.globalNav a:active {color: #333;text-decoration: none;background-color: #999;}

.mainContents{width: 960ox; margin: 0 auto;}
.topVisual{height: 500px;}
.topVisual a:hover img{opacity: 0.8; filter: alpha(opacity=80);}
.topVisual .bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	left: 0px;
	background: #fff;
}
.lineup h2{
	color: #999;
	font-family: "Arial";
	font-size: 24px;
	text-align: left;
	margin: 10px;
	padding: 0 0 10px 10px;
	border-bottom: 1px #dedede solid;
}
.lineup ul{text-align: center;}
.lineup li{
	display: inline-block;
	margin-right: 12px;
}
.lineup li:last-child{margin-right: 0;}
.lineup a{
	display: block;
	width: 130px;
	height: 200px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(4, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(4, 0, 0, 0.2);
	box-shadow: 0px 0px 4px 0px rgba(4, 0, 0, 0.2);
	z-index: 100;
}