@charset "UTF-8";
/* ====================================== */
/* CSS Normalize */
/* ====================================== */
/* The root element */
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/* ====================================== */
/* Sections */
body {
	font-family: sans-serif;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1em;
	margin: 0;
}

/* ====================================== */
/* Grouping content */
p,
blockquote,
dl,
dd,
figure {
	margin: 0;
}

hr {
	color: inherit;
	height: auto;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

pre {
	font-family: monospace, sans-serif;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0;
}

ol,
ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

/* ====================================== */
/* Text-level semantics */
a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

strong,
b {
	font-weight: bold;
}

small {
	font-size: 0.83em;
}

q {
	quotes: none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

code,
samp,
kbd {
	font-family: monospace, sans-serif;
}

mark {
	color: black;
	background-color: yellow;
}

sub,
sup {
	font-size: 0.83em;
	line-height: 0;
	vertical-align: baseline;
	position: relative;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

br {
	*letter-spacing: 0;
}

/* ====================================== */
/* Embedded content */
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

svg:not(:root) {
	overflow: hidden;
}

/* ====================================== */
/* Tabular data */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption {
	padding: 0;
	text-align: left;
}

th,
td {
	text-align: left;
	vertical-align: baseline;
	padding: 0;
}

/* ====================================== */
/* Forms */
form {
	margin: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

legend {
	border: 0;
	*margin-left: -7px;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: 1em;
	color: inherit;
	margin: 0;
}

input,
button {
	line-height: normal;
	vertical-align: inherit;
	*vertical-align: middle;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]:focus {
	outline-offset: -2px;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible;
}

select {
	background-color: inherit;
	line-height: normal;
}

textarea {
	vertical-align: top;
	overflow: auto;
	*font-family: sans-serif;
}

/* ====================================== */
/* clearfix */
.clearfix:after,
#topicPath:after,
.sns-slide:after,
#footer #footer-banner:after {
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
	height: 0;
}

/* ====================================== */
/* body */
html,
body {
	margin: 0 auto;
	height: 100%;
}

body {
	font: normal 100% "MS PGothic", osaka, "Hiragino Kaku Gothic Pro", Arial, Helvetica, sans-serif;
	color: #666;
	background: white url("/common/images/bg_body.png");
}

body.body-brand {
	background-image: none;
}

a:link {
	color: #666;
	text-decoration: none;
}

a:visited {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #c2c2c2;
}

a:active {
	color: #666;
}

a:active,
a:focus,
input:focus {
	outline: none;
}

li img {
	vertical-align: top;
}

strong {
	color: #ff4800;
}

h2 .title,
h3 .title,
h4 .title {
	display: block;
	padding-top: 14px;
	margin-left: 10px;
}

h2 .title:before,
h3 .title:before,
h4 .title:before {
	position: relative;
	content: "";
	float: left;
	display: block;
	top: -1px;
	margin-right: 5px;
	width: 7px;
	height: 21px;
	background: url("/common/images/icon_sprite.png") no-repeat -93px 0;
}

h2 .rss,
h3 .rss,
h4 .rss {
	position: absolute;
	top: 13px;
	right: 69px;
	width: 96px;
	height: 23px;
}

h2 .list,
h3 .list,
h4 .list {
	position: absolute;
	top: 13px;
	right: 7px;
	width: 56px;
	height: 23px;
}

/* ====================================== */
/* container */
#container {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

/* ====================================== */
/* header, menu */
#header {
	width: auto;
	min-width: 960px;
	height: 106px;
	background: url("/common/images/bg_header.png") repeat-x;
}

#header-inner {
	position: relative;
	margin: 0 auto;
	width: 960px;
	height: 106px;
}

#header-inner .logo {
	float: left;
	_display: inline;
	margin: 27px 0 0 7px;
	width: 163px;
	height: 56px;
}

#header-inner #menu {
	float: right;
	margin: 56px 0 0 0;
	width: 767px;
	height: 44px;
}

#header-inner #menu li {
	float: left;
	text-align: center;
}

#header-inner #menu li a {
	overflow: hidden;
	float: left;
	display: block;
	padding: 0;
	height: 44px;
}

#header-inner #menu li a:hover img {
	margin-top: -44px;
}

#header-inner #menu .m01 a {
	width: 87px;
}

#header-inner #menu .m02 a {
	width: 72px;
}

#header-inner #menu .m03 a {
	width: 178px;
}

#header-inner #menu .m04 a {
	width: 98px;
}

#header-inner #menu .m05 a {
	width: 127px;
}

#header-inner #menu .m06 a {
	width: 89px;
}

#header-inner #menu .m07 a {
	width: 116px;
}

#header-inner #menu .m01 a img {
	margin: 0;
}

#header-inner #menu .m02 a img {
	margin-left: -87px;
}

#header-inner #menu .m03 a img {
	margin-left: -159px;
}

#header-inner #menu .m04 a img {
	margin-left: -337px;
}

#header-inner #menu .m05 a img {
	margin-left: -435px;
}

#header-inner #menu .m06 a img {
	margin-left: -562px;
}

#header-inner #menu .m07 a img {
	margin-left: -651px;
}

#header-inner #menu .selected a img {
	margin-top: -88px;
}

#header-inner #menu .selected a:hover img {
	margin-top: -132px;
}

#header-inner #header-menu {
	position: absolute;
	top: 23px;
	right: 0;
	width: 625px;
	height: 23px;
}

#header-inner #header-menu li {
	float: left;
	_display: inline;
}

#header-inner #header-menu .menu01,
#header-inner #header-menu .menu02,
#header-inner #header-menu .menu03,
#header-inner #header-menu .menu05 {
	padding-top: 8px;
	height: 16px;
}

#header-inner #header-menu .menu02,
#header-inner #header-menu .menu03,
#header-inner #header-menu .menu05 {
	margin-left: 20px;
}

#header-inner #header-menu .menu01:before,
#header-inner #header-menu .menu02:before,
#header-inner #header-menu .menu03:before,
#header-inner #header-menu .menu05:before {
	position: relative;
	content: "";
	float: left;
	display: block;
	top: 2px;
	margin: 0 4px 0 0;
	width: 10px;
	height: 9px;
	background: url("/common/images/icon_sprite.png") no-repeat;
}

#header-inner #header-menu .menu05 {
	margin: 0 15px 0 20px;
	padding-right: 15px;
	border-right: 1px dotted #d1d1d1;
}

#header-inner #header-menu .menu03:before,
#header-inner #header-menu .menu05:before {
	top: 4px;
	width: 5px;
	height: 5px;
	background: url("/common/images/icon_sprite.png") no-repeat 0 -14px;
}

#header-inner #header-menu .menu05:before {
	top: 3px;
	margin: 0 6px 0 0;
}

#header-inner #header-menu .menu04 {
	position: relative;
	float: right;
	width: 200px;
	height: 24px;
}

#header-inner #header-menu .menu04 input {
	border: none;
}

#header-inner #header-menu .menu04 input:active,
#header-inner #header-menu .menu04 input:focus {
	outline: none;
}

#header-inner #header-menu .menu04 input[type=text] {
	float: left;
	padding: 3px 8px;
	width: 160px;
	height: 18px;
	font-size: .75em;
	background: url("/common/images/bg_header_search_body.png") no-repeat;
}

#header-inner #header-menu .menu04 input[type=submit] {
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	background: url("/common/images/bg_header_search_btn.png") no-repeat;
}

* html #header-inner #header-menu .menu04 input {
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	background: url("/common/images/bg_header_search_btn.png") no-repeat;
}

* html #header-inner #header-menu .menu04 input#MF_form_phrase {
	position: static;
	float: left;
	padding: 3px 8px;
	width: 160px;
	height: 18px;
	font-size: .75em;
	background: url("/common/images/bg_header_search_body.png") no-repeat;
}

#header .requirements {
	margin: 15px auto;
	width: 960px;
	font-size: 12px;
	font-weight: bold;
}
#header .requirements a {
	min-height: 16px;
	text-decoration: underline;
}

/* ====================================== */
/* main */
#main {
	margin: 0 auto 20px;
	padding: 15px 0 0;
	width: 960px;
	font-size: .75em;
}

#main .contents,
#main .article {
	letter-spacing: 1px;
}

#main #sns {
	position: relative;
	padding: 3px 0 3px 9px;
	width: 462px;
	height: 33px;
	background: #fff;
	border: 1px solid #d0d0d0;
	border-right: 0;
	behavior: url("/common/js/PIE.htc");
	-webkit-border-radius: 9px 0 0 9px;
	-moz-border-radius: 9px 0 0 9px;
	-ms-border-radius: 9px 0 0 9px;
	-o-border-radius: 9px 0 0 9px;
	border-radius: 9px 0 0 9px;
}

#main #sns li {
	float: left;
}

#main #sns .good-btn {
	position: relative;
	float: left;
	padding: 7px 11px 6px 0;
	padding-right: 11px;
	width: 280px;
	height: 20px;
	background: #fff;
	border-right: 1px dotted #f1f0ee;
	z-index: 15;
}

#main #sns .good-btn li {
	margin-left: 7px;
}

#main #sns .good-btn .facebook {
	width: 99px;
	height: 20px;
}

#main #sns .good-btn .mixi,
#main #sns .good-btn .mixi iframe {
	width: 107px;
	height: 20px;
	*overflow: hidden;
	*width: 107px !important;
	*height: 20px !important;
}

#main #sns .good-btn .google {
	width: 60px;
	height: 20px;
}

#main #sns .good-btn li:first-child {
	margin-left: 0;
}

#main #sns .share-text {
	position: relative;
	float: left;
	margin-top: -3px;
	padding-top: 11px;
	width: 170px;
	height: 28px;
	text-align: center;
	background: #fff;
	z-index: 15;
}

#main #sns .sns-slide {
	position: absolute;
	top: 0;
	right: -37px;
	padding: 6px 0 0 0;
	width: auto;
	height: 33px;
	background: #fff;
	z-index: 10;
}

#main #sns .sns-slide .hidden {
	position: relative;
	margin: -7px 0 0;
	padding: 7px 5px 0 5px;
	width: 27px;
	height: 32px;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
}

#main #sns .sns-slide .hidden:first-child {
	padding: 7px 5px 0 10px;
	border-left: 1px solid #d0d0d0;
}

#main #sns .sns-slide .hidden.last {
	padding: 7px 10px 0 5px;
}

#main #sns .sns-slide .arrow {
	position: relative;
	margin: -7px 0 0;
	width: 37px;
	height: 41px;
	background: url("/common/images/bg_sbm_arrow.png") no-repeat;
	cursor: pointer;
}

#main #sns .sns-slide .arrow span {
	position: relative;
	top: 16px;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	width: 7px;
	height: 9px;
	text-indent: 100%;
	white-space: nowrap;
	background: url("/common/images/icon_sprite.png") no-repeat 0 -43px;
}

#topicPath {
	margin: 0 auto 10px !important;
	width: 960px !important;
	color: #666;
}

#topicPath li {
	float: left;
}

#topicPath li:before {
	float: left;
	margin: 0 10px;
	content: ">";
}

#topicPath li:first-child:before {
	display: none;
}

#topicPath a {
	color: #1d3994;
}

#topicPath a:hover {
	text-decoration: underline;
}

#article {
	position: relative;
	margin-bottom: 30px;
	padding: 18px;
	width: 922px;
	height: auto;
	behavior: url("/common/js/PIE.htc");
	background: #fff;
	border: 1px solid #ededed;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
	border-radius: 9px;
}

#article h1 {
	margin-bottom: 18px;
}

.body-brand #main {
	margin: 0 auto;
	padding-top: 5px;
	width: auto;
}

.body-brand #article {
	margin: 0;
	padding: 0;
	width: auto;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}

/* ====================================== */
/* footer */
#footer {
	clear: both;
	margin: 0 auto;
	width: 100%;
	height: auto;
	text-align: left;
	font-size: 12px;
	background: url("/common/images/bg_body_deepcolor.png");
	/* bxSlider */
}

#footer #footer-banner {
	margin: 0 auto;
	padding: 30px 0;
	width: 960px;
	height: auto;
	border-bottom: 2px dotted #d0d0d0;
}

#footer #footer-banner li {
	float: left;
	_display: inline;
	margin: 0 0 0 20px;
}

#footer #footer-banner li:first-child {
	margin: 0;
}

#footer #footer-banner h4 {
	position: relative;
	margin-bottom: 9px;
	height: 23px;
}

#footer #footer-banner h4 img {
	margin-top: 3px;
}

#footer #footer-banner h4 .list {
	top: -3px;
	right: 0;
}

#footer #footer-banner h4:before {
	position: relative;
	content: "";
	float: left;
	display: block;
	margin: 0 5px 0 0;
	width: 7px;
	height: 21px;
	background: url("/common/images/icon_sprite.png") no-repeat -93px 0;
}

#footer #footer-banner #footer-brand {
	float: left;
	width: 780px;
	height: 150px;
}

#footer #footer-banner #footer-brand li {
	width: 140px;
}

#footer #footer-banner #footer-brand li:first-child {
	margin: 0;
}

#footer #footer-banner #footer-brand li p,
#footer #footer-banner #footer-recommend li p {
	position: relative;
	display: block;
	margin-top: 7px;
	width: 140px;
	min-height: 12px;
	height: auto !important;
	height: 12px;
}

#footer #footer-banner #footer-brand li p:before,
#footer #footer-banner #footer-recommend li p:before {
	position: absolute;
	display: block;
	content: '';
	top: 5px;
	left: 0;
	width: 5px;
	height: 5px;
	background: url("/common/images/icon_sprite.png") no-repeat 0 -14px;
}

#footer #footer-banner #footer-brand li p a,
#footer #footer-banner #footer-recommend li p a {
	float: left;
	margin-left: 10px;
	display: block;
	_display: inline;
	width: 130px;
	min-height: 12px;
	height: auto !important;
	height: 12px;
	line-height: 1.4;
	color: #666;
}

#footer #footer-banner #footer-brand li p a:hover,
#footer #footer-banner #footer-recommend li p a:hover {
	color: #c2c2c2;
}

#footer #footer-banner #footer-recommend {
	float: right;
	/*overflow: hidden;*/
	width: 160px;
	height: 150px;
}

#footer #footer-banner #footer-recommend li {
	_overflow: hidden;
	margin: 0;
	width: 160px !important;
	height: 100px;
}

#footer .bx-wrapper {
	width: 100% !important;
	overflow: hidden;
	position: relative !important;
}

#footer .bx-wrapper .bx-next,
#footer .bx-wrapper .bx-prev {
	position: absolute;
	top: 39px;
	display: block;
	width: 21px;
	height: 21px;
}

#footer .bx-wrapper .bx-next {
	right: 5px;
}

#footer .bx-wrapper .bx-prev {
	left: 5px;
}

#footer .bx-wrapper .bx-pager {
	margin-top: 8px;
	text-align: center;
}

#footer .bx-wrapper .bx-pager a {
	position: relative;
	display: inline-block;
	*display: inline;
	margin: 8px 3px 0;
	width: 10px;
	height: 10px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: #b3b3b3;
	behavior: url("/common/js/PIE.htc");
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	*zoom: 1;
}

#footer .bx-wrapper .bx-pager .pager-active {
	background: #ed1c24;
}

#footer .bx-window {
	margin: 0 !important;
	overflow: visible !important;
}

#footer #footer-inner {
	position: relative;
	margin: 0 auto;
	padding: 31px 0 0 4px;
	width: 956px;
	height: 260px;
}

#footer #footer-inner > ul {
	float: left;
	width: 191px;
}

#footer #footer-inner > ul h4 {
	margin: 0 0 10px 0;
}

#footer #footer-inner > ul h4:before {
	position: relative;
	content: "";
	float: left;
	display: block;
	top: -1px;
	margin-right: 3px;
	width: 14px;
	height: 14px;
	background: url("/common/images/icon_sprite.png") no-repeat 0 -24px;
}

#footer #footer-inner > ul li {
	margin: 0 0 25px 0;
}

#footer #footer-inner > ul li ul {
	margin: 0 0 0 5px;
}

#footer #footer-inner > ul li ul li {
	margin: 0 0 5px 0;
	padding-left: 1em;
	text-align: left !important;
	line-height: 1.4;
}

#footer #footer-inner > ul li ul li:before {
	position: relative;
	content: "";
	float: left;
	display: block;
	top: 5px;
	margin-left: -1em;
	width: 5px;
	height: 5px;
	background: url("/common/images/icon_sprite.png") no-repeat 0 -14px;
}

#footer #footer-menu {
	padding-top: 7px;
	width: auto;
	min-height: 47px;
	height: auto !important;
	height: 47px;
	text-align: center;
	background: url("/common/images/bg_footer_greenhead.png") repeat-x top center;
}

#footer #footer-menu #footer-menu-bg {
	padding-top: 13px;
	min-height: 34px;
	height: auto !important;
	height: 34px;
	background: url("/common/images/bg_body_green.png") repeat top left;
}

#footer #footer-menu ul {
	margin: 0 auto;
	width: 960px;
	height: 15px;
	text-align: center;
	vertical-align: top;
}

#footer #footer-menu li {
	display: inline-block;
	*display: inline;
	margin-left: 18px;
	height: 15px;
	vertical-align: top;
	*zoom: 1;
}

#footer #footer-menu li:first-child {
	margin: 0;
}

#footer #footer-menu #portal-lemon a {
	display: block;
	margin: 0 auto;
	padding-top: 22px;
	width: 400px;
	height: 200px;
}

#footer #footer-copyright {
	padding-top: 15px;
	width: auto;
	height: 45px;
	background: #fff;
}

#footer #footer-copyright ul {
	margin: 0 auto;
	width: 960px;
}

#footer #footer-copyright li {
	float: right;
	margin-left: 20px;
}

#footer #footer-copyright li:before {
	position: relative;
	content: "";
	float: left;
	display: block;
	top: 3px;
	margin: 0 5px 0 0;
	width: 5px;
	height: 5px;
	background: url("/common/images/icon_sprite.png") no-repeat 0 -14px;
}

#footer #footer-copyright #copyright {
	float: left;
	margin: 0;
}

#footer #footer-copyright #copyright:before {
	display: none;
}

/* ====================================== */
/* common */
.t-right {
	text-align: right;
}

.t-center {
	text-align: center;
}

.t-left {
	text-align: left;
}

.f-right {
	float: right;
}

.f-left {
	float: left;
}

.none {
	display: none;
}

.border-none {
	border: none !important;
}

#topcontrol {
	z-index: 9999;
}

.pdf {
	padding: 2px 23px 3px 0;
	background: url("/common/images/bg_pdf.png") no-repeat right;
}

.blank {
	padding-right: 14px;
	background: url("/common/images/bg_blank.png") no-repeat right;
}

/*
.pdf.blank {
	padding: 2px 42px 3px 0;
	background: url("/common/images/bg_pdfblank.png") no-repeat right;
}
*/
/* ====================================== */
/* old POKKA style */
/* 緊急告知 */
#PkbWarning {
	margin: 5px 0;
	border: 1px solid #f13e28;
	background: #fff5eb;
	font-weight: bold;
}

#PkbWarning p {
	padding: 5px;
	line-height: 1.4;
	color: black !important;
}

#PkbWarning a:link,
#PkbWarning a:visited {
	color: #f13e28 !important;
}

#PkbWarning a:hover,
#PkbWarning a:active {
	color: red !important;
}

#PkbWarning a:link[name],
#PkbWarning a:hover[name] {
	text-decoration: underline;
}

#PkbWarning ul li {
	padding: 3px 2px 3px 15px;
	list-style: none;
	line-height: 1.2;
}

#PkbWarning ul li a {
	color: #ff0000;
}

/* ====================================== */