@charset "utf-8";

a:hover img.over {opacity: 0.8; filter: alpha(opacity=80); }

a.none:link, a.none:visited, a.none:hover, a.none:visited:hover, a.none:active {text-decoration: none; }

.pc {display: block !important; }
.sp {display: none !important; }
.pc_inline {display: inline !important; }
.sp_inline {display: none !important; }
.pc_inlineblock {display: inline-block !important; }
.sp_inlineblock {display: none !important; }

@media only screen and (max-width: 767px) {
.pc {display: none !important; }
.pc_inline {display: none !important; }
.sp {display: block !important; }
.sp_inline {display: inline !important; }
.pc_inlineblock {display: none !important; }
.sp_inlineblock {display: inline-block !important; } }
.min {font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif !important; }

.btn_order {
  font-size: 1.4rem;
  line-height: 1.0;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px; }
  .btn_order a {
	display: inline-block;
	text-decoration: none;
	line-height: 1em;
	padding: 0.7em 0em 0.7em 1.8em;
	width: 12em;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	color: #999; }
	.btn_order a:link {
	  color: #999; }
	.btn_order a:visited {
	  color: #999; }
	.btn_order a:hover {
	  color: #999;
	  border-color: #999; }
	.btn_order a:visited:hover {
	  color: #999;
	  border-color: #999; }
	.btn_order a:active {
	  color: #999;
	  border-color: #999; }
  .btn_order span {
	margin-left: 0.5em;
	font-size: 80%; }

@media only screen and (max-width: 767px) {
  .btn_order {
	font-size: 1.6rem;
	line-height: 1.0;
	display: block;
	width: 96%;
	margin: 10px auto; }
	.btn_order a {
	  display: block;
	  text-align: center;
	  padding: 1.2em 0em;
	  width: 100%; } }
.ic-jyun {
  color: #00a059;
  font-size: 110%; }

.remark {
  font-size: 1.1rem;
  line-height: 1.4; }

.remark_r {
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: right; }

.remark_l {
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: left; }

.enclosed {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',"ＭＳ Ｐゴシック", sans-serif  !important;
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  padding: 2px 4px;
  font-weight: normal;
  border: 1px solid #444;
  color: #333;
  margin: 0 4px;
  vertical-align: middle; }

.columns {
  zoom: 1; }
  .columns:before, .columns:after {
	content: " ";
	display: table; }
  .columns:after {
	clear: both; }

.col_left {
  float: left;
  display: inline; }

.col_middle {
  float: left;
  display: inline; }

.col_right {
  float: right;
  display: inline; }

@media only screen and (max-width: 767px) {
  .col_left, .col_middle, .col_right {
	float: none;
	display: block;
	width: 100%; } }
.space_fix {
  letter-spacing: -1em;
  word-spacing: -1em; }
  :root .space_fix {
	font-size: 1px;
	letter-spacing: -1px;
	word-spacing: -1px; }
  .space_fix li {
	font-size: 1.3rem;
	letter-spacing: normal;
	word-spacing: normal; }
.first {margin-left: 0 !important; }
.last {margin-right: 0 !important; }
.mg_btm0 {margin-bottom: 0 !important; }
.bg_none {background-image: none !important; }
.bd_btm_none {border-bottom: none !important; }
.clf:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0.1em;
  line-height: 0; }
.clf {
  display: inline-block;
  zoom: 1; }
* html .clf {height: 1%; }
.clf {display: block; }
.fl_l {float: left;display: inline; }
.fl_r {float: right;display: inline; }
.mainContents {font-family: sans-serif;}